# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


Plot/ipch/
Plot/Win32/
Plot/Plot/Debug/
Plot/Plot/GeneratedFiles/

PID_Test/ipch/
PID_Test/Win32/
PID_Test/PID_Test/Debug/
PID_Test/PID_Test/GeneratedFiles/

Plot/Plot.sdf
Plot/Plot.suo

PID_Test/PID_Test.sdf
PID_Test/PID_Test.suo